<mat-tab-group class="main-tab-group">
  <mat-tab label="Set Up">
    <section>
      <div class="margin-left-5rem-top-1rem">
        <b class="color-red">1. Click Button #1 and wait for the number of games to stop increasing.</b>
      </div>
      <div class="margin-left-5rem-top-1rem">
        <b class="color-red">2. Once you have downloaded all the games, click Button #2.</b>
      </div>
      <div class="margin-left-5rem-top-1rem">
        <b class="color-red">3. You can now access the other sections at the top of the page.</b>
      </div>
      <button class="margin-left-5rem-top-1rem" [disabled]="!checkTabStatus()" mat-button
        (click)="downloadLastYear()">1. Download as far as Last Year</button>
      <div class="margin-left-5rem-top-1rem">
        Number of Games Downloaded: {{currentDownloadCounter}} <span><i>{{currentDownloadCounterPostMsg}}</i></span>
      </div>
      <ng-container *ngIf="currentDownloadCounter < 800 && currentDownloadCounter !== 0">
        <div class="cell" class="margin-left-5rem-top-1rem">
          <div class="wrapper">
            <div class="spinner spinner4"></div>
          </div>
        </div>
      </ng-container>
      <button class="margin-left-5rem-top-1rem" mat-button [disabled]="checkTabStatus2()" (click)="crunchNumbers()">2.
        Crunch(process) Data</button>
      <div class="margin-left-5rem-top-1rem">Process Opponent Data Status: <i>{{crunchStatus}}</i></div>
    </section>
  </mat-tab>
  <mat-tab label="Basic Stats">
    <mat-tab-group class="basic-tab-group">
      <mat-tab label="Team Stats">
        <mat-slide-toggle class="margin-left-5rem-top-1rem"
          (change)="toggleAvgTotalStatus($event)">{{totalAvgToggle}}</mat-slide-toggle>
        <div class="basic-stats-header">
          <!-- <mat-form-field> -->
          <small>Search Filter</small>
          <div><input (keyup)="applyFilter($any($event.target).value)"></div>
          <!-- </mat-form-field> -->
        </div>
        <div class="basic-stats-container mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortColumn($event)" matSortDisableClear>
            <ng-container matColumnDef="teamName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Team </mat-header-cell>
              <mat-cell *matCellDef="let row"> <span [ngClass]="returnCellColor(row.wins, 'score')"><div>{{row.teamName}}</div><div>Score: {{row.wins}}-{{row.losses}}</div></span></mat-cell>
            </ng-container>
            <ng-container matColumnDef="ats">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ATS </mat-header-cell>
              <mat-cell *matCellDef="let row"> <span [ngClass]="returnCellColor(row.atsWins, 'ats')"> {{row.atsWins}}-{{row.atsLosses}}</span> </mat-cell>
            </ng-container>
            <ng-container matColumnDef="nextOpponent">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Next Opponent </mat-header-cell>
              <mat-cell *matCellDef="let row"> <span [ngClass]="returnCellColor(row.nextOpponentWins, 'nextOpponent')"><div>{{row.nextOpponent}}</div><div>Score: {{row.nextOpponentWins}}-{{row.nextOpponentLosses}}</div></span></mat-cell>
            </ng-container>
            <ng-container matColumnDef="nextOpponentAts">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Next Opponent Ats</mat-header-cell>
              <mat-cell *matCellDef="let row"> <span [ngClass]="returnCellColor(row.nextOpponentAtsWins, 'nextOpponentAts')"> <i><small>Ats: {{row.nextOpponentAtsWins}}-{{row.nextOpponentAtsLosses}}</small></i></span></mat-cell>
            </ng-container>
            <ng-container matColumnDef="passingAttempts">
              <mat-header-cell *matHeaderCellDef mat-sort-header> PassAttempts </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-container *ngIf="checkAvgTotalToggle()">
                  <span [ngClass]="returnCellColor(row.passingAttemptsTotal, 'passingAttemptsTotal')">{{row.passingAttemptsTotal}}</span>
                </ng-container>
                <ng-container *ngIf="!checkAvgTotalToggle()">
                  <span [ngClass]="returnCellColor((row.passingAttemptsTotal/row.games.length), 'passingAttemptsAvg')">{{row.passingAttemptsTotal/row.games.length | number : '1.1-1'}}</span>
                </ng-container>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="passingYards">
              <mat-header-cell *matHeaderCellDef mat-sort-header> PassYards </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-container *ngIf="checkAvgTotalToggle()">
                  <span [ngClass]="returnCellColor(row.passingYardsTotal, 'passingYardsTotal')">{{row.passingYardsTotal}}</span>
                </ng-container>
                <ng-container *ngIf="!checkAvgTotalToggle()">
                  <span [ngClass]="returnCellColor((row.passingYardsTotal/row.games.length), 'passingYardsAvg')">{{row.passingYardsTotal/row.games.length | number : '1.1-1'}}</span>
                </ng-container>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="passingTds">
              <mat-header-cell *matHeaderCellDef mat-sort-header> PassTDs </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-container *ngIf="checkAvgTotalToggle()">
                  <span [ngClass]="returnCellColor(row.passingTdsTotal, 'passingTdsTotal')">{{row.passingTdsTotal}}</span>
                </ng-container>
                <ng-container *ngIf="!checkAvgTotalToggle()">
                  <span [ngClass]="returnCellColor((row.passingTdsTotal/row.games.length), 'passingTdsAvg')">{{row.passingTdsTotal/row.games.length | number : '1.1-1'}}</span>
                </ng-container>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="rushingAttempts">
              <mat-header-cell *matHeaderCellDef mat-sort-header> RushAttempts </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-container *ngIf="checkAvgTotalToggle()">
                  <span [ngClass]="returnCellColor(row.rushingAttemptsTotal, 'rushingAttemptsTotal')">{{row.rushingAttemptsTotal}}</span>
                </ng-container>
                <ng-container *ngIf="!checkAvgTotalToggle()">
                  <span [ngClass]="returnCellColor((row.rushingAttemptsTotal/row.games.length), 'rushingAttemptsAvg')">{{row.rushingAttemptsTotal/row.games.length | number : '1.1-1'}}</span>
                </ng-container>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="rushingYards">
              <mat-header-cell *matHeaderCellDef mat-sort-header> RushYards </mat-header-cell>
              <mat-cell *matCellDef="let row">
                 <ng-container *ngIf="checkAvgTotalToggle()">
                  <span [ngClass]="returnCellColor(row.rushingYardsTotal, 'rushingYardsTotal')">  {{row.rushingYardsTotal}}</span>
                </ng-container>
                <ng-container *ngIf="!checkAvgTotalToggle()">
                  <span [ngClass]="returnCellColor((row.rushingYardsTotal/row.games.length), 'rushingYardsAvg')">{{row.rushingYardsTotal/row.games.length | number : '1.1-1'}}</span>
                </ng-container>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="rushingTds">
              <mat-header-cell *matHeaderCellDef mat-sort-header> RushTDs </mat-header-cell>
              <mat-cell *matCellDef="let row">
                     <ng-container *ngIf="checkAvgTotalToggle()">
                      <span [ngClass]="returnCellColor(row.rushingTdsTotal, 'rushingTdsTotal')">{{row.rushingTdsTotal}}</span>
                </ng-container>
                <ng-container *ngIf="!checkAvgTotalToggle()">
                  <span [ngClass]="returnCellColor((row.rushingTdsTotal/row.games.length), 'rushingTdsAvg')">{{row.rushingTdsTotal/row.games.length | number : '1.1-1'}}</span>
                </ng-container>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sacks">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Sacks </mat-header-cell>
              <mat-cell *matCellDef="let row">
                  <ng-container *ngIf="checkAvgTotalToggle()">
                    <span [ngClass]="returnCellColor(row.sacksTotal, 'sacksTotal')">{{row.sacksTotal}}</span>
                </ng-container>
                <ng-container *ngIf="!checkAvgTotalToggle()">
                  <span [ngClass]="returnCellColor((row.sacksTotal/row.games.length), 'sacksAvg')">{{row.sacksTotal/row.games.length | number : '1.1-1'}}</span>
                </ng-container>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="interceptions">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Interceptions </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-container *ngIf="checkAvgTotalToggle()">
                  <span [ngClass]="returnCellColor(row.interceptionsTotal, 'interceptionsTotal')">{{row.interceptionsTotal}}</span>
                </ng-container>
                <ng-container *ngIf="!checkAvgTotalToggle()">
                  <span [ngClass]="returnCellColor((row.interceptionsTotal/row.games.length), 'interceptionsAvg')"> {{row.interceptionsTotal/row.games.length | number : '1.1-1'}}</span>
                </ng-container>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="firstDowns">
              <mat-header-cell *matHeaderCellDef mat-sort-header> FirstDowns </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-container *ngIf="checkAvgTotalToggle()">
                  <span [ngClass]="returnCellColor(row.firstDownsTotal, 'firstDownsTotal')">{{row.firstDownsTotal}}</span>
                </ng-container>
                <ng-container *ngIf="!checkAvgTotalToggle()">
                  <span [ngClass]="returnCellColor((row.firstDownsTotal/row.games.length), 'firstDownsAvg')">{{row.firstDownsTotal/row.games.length | number : '1.1-1'}}</span>
                </ng-container>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="thirdDownPct">
              <mat-header-cell *matHeaderCellDef mat-sort-header> thirdDown% </mat-header-cell>
              <mat-cell *matCellDef="let row">  <span [ngClass]="returnCellColor(row.thirdDownPctAvg, 'thirdDownPct')"> {{row.thirdDownPctAvg | number : '1.2-2'}} % </span></mat-cell>
            </ng-container>
            <ng-container matColumnDef="redzoneScoringPct">
              <mat-header-cell *matHeaderCellDef mat-sort-header> redzoneScoring% </mat-header-cell>
              <mat-cell *matCellDef="let row">  <span [ngClass]="returnCellColor(row.redzoneScoringPctAvg, 'redzoneScoringPct')"> {{row.redzoneScoringPctAvg | number : '1.2-2'}} % </span></mat-cell>
            </ng-container>
            <ng-container matColumnDef="points">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Points </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-container *ngIf="checkAvgTotalToggle()">
                  <span [ngClass]="returnCellColor(row.thirdDownPctAvg, 'pointsTotal')">    {{row.pointsTotal}} </span>
                </ng-container>
                <ng-container *ngIf="!checkAvgTotalToggle()">
                  <span [ngClass]="returnCellColor((row.redzoneScoringPctAvg/row.games.length), 'pointsAvg')">  {{row.pointsTotal/row.games.length | number : '1.1-1'}}</span>
                </ng-container>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 32]"></mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Opponent's Stats">
        <mat-slide-toggle class="margin-left-5rem-top-1rem"
        (change)="toggleAvgTotalStatus($event)">{{totalAvgToggle}}</mat-slide-toggle>
      <div class="basic-stats-header">
        <!-- <mat-form-field> -->
        <small>Search Filter</small>
        <div><input (keyup)="applyFilter($any($event.target).value)"></div>
        <!-- </mat-form-field> -->
      </div>
      <div class="basic-stats-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortOpponentColumn($event)" matSortDisableClear>
          <ng-container matColumnDef="teamName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Team </mat-header-cell>
            <mat-cell *matCellDef="let row"> <span [ngClass]="returnCellColor(row.wins, 'score')"> <div>{{row.teamName}}</div><div>Score: {{row.wins}}-{{row.losses}}</div></span></mat-cell>
          </ng-container>
          <ng-container matColumnDef="ats">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ATS </mat-header-cell>
            <mat-cell *matCellDef="let row"> <span [ngClass]="returnCellColor(row.atsWins, 'ats')"> {{row.atsWins}}-{{row.atsLosses}}</span> </mat-cell>
          </ng-container>
          <ng-container matColumnDef="nextOpponent">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Next Opponent </mat-header-cell>
            <mat-cell *matCellDef="let row">  <span [ngClass]="returnCellColor(row.nextOpponentWins, 'nextOpponent')"><div>{{row.nextOpponent}}</div><div>Score: {{row.nextOpponentWins}}-{{row.nextOpponentLosses}}</div></span></mat-cell>
          </ng-container>
          <ng-container matColumnDef="nextOpponentAts">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Next Opponent Ats</mat-header-cell>
            <mat-cell *matCellDef="let row">  <span [ngClass]="returnCellColor(row.nextOpponentAtsWins, 'nextOpponentAts')"><i><small>Ats: {{row.nextOpponentAtsWins}}-{{row.nextOpponentAtsLosses}}</small></i></span></mat-cell>
          </ng-container>
          <ng-container matColumnDef="passingAttempts">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Opponent's PassAttempts </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <ng-container *ngIf="checkAvgTotalToggle()">
                <span [ngClass]="returnCellColorGiven(row.passingAttemptsGivenTotal, 'passingAttemptsGivenTotal')">{{row.passingAttemptsGivenTotal}}</span>
              </ng-container>
              <ng-container *ngIf="!checkAvgTotalToggle()">
                <span [ngClass]="returnCellColorGiven((row.passingAttemptsGivenTotal/row.games.length), 'passingAttemptsGivenAvg')">  {{row.passingAttemptsGivenTotal/row.games.length | number : '1.1-1'}}</span>
              </ng-container>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="passingYards">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Opponent's PassYards </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <ng-container *ngIf="checkAvgTotalToggle()">
                <span [ngClass]="returnCellColorGiven(row.passingYardsGivenTotal, 'passingYardsGivenTotal')">{{row.passingYardsGivenTotal}}</span>
              </ng-container>
              <ng-container *ngIf="!checkAvgTotalToggle()">
                <span [ngClass]="returnCellColorGiven((row.passingYardsGivenTotal/row.games.length), 'passingYardsAvgGiven')">{{row.passingYardsGivenTotal/row.games.length | number : '1.1-1'}}</span>
              </ng-container>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="passingTds">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Opponent's PassTDs </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <ng-container *ngIf="checkAvgTotalToggle()">
                <span [ngClass]="returnCellColorGiven(row.passingTdsGivenTotal, 'passingTdsGivenTotal')"> {{row.passingTdsGivenTotal}}</span>
              </ng-container>
              <ng-container *ngIf="!checkAvgTotalToggle()">
                <span [ngClass]="returnCellColorGiven((row.passingTdsGivenTotal/row.games.length), 'passingTdsGivenAvg')">    {{row.passingTdsGivenTotal/row.games.length | number : '1.1-1'}}</span>
              </ng-container>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="rushingAttempts">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Opponent's RushAttempts </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <ng-container *ngIf="checkAvgTotalToggle()">
                <span [ngClass]="returnCellColorGiven(row.rushingAttemptsGivenTotal, 'rushingAttemptsGivenTotal')">   {{row.rushingAttemptsGivenTotal}}</span>
              </ng-container>
              <ng-container *ngIf="!checkAvgTotalToggle()">
                <span [ngClass]="returnCellColorGiven((row.rushingAttemptsGivenTotal/row.games.length), 'rushingAttemptsGivenAvg')">     {{row.rushingAttemptsGivenTotal/row.games.length | number : '1.1-1'}}</span>
              </ng-container>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="rushingYards">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Opponent's RushYards </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <ng-container *ngIf="checkAvgTotalToggle()">
                <span [ngClass]="returnCellColorGiven(row.rushingYardsGivenTotal, 'rushingYardsGivenTotal')">  {{row.rushingYardsGivenTotal}}</span>
              </ng-container>
              <ng-container *ngIf="!checkAvgTotalToggle()">
                <span [ngClass]="returnCellColorGiven((row.rushingYardsGivenTotal/row.games.length), 'rushingYardsGivenAvg')">    {{row.rushingYardsGivenTotal/row.games.length | number : '1.1-1'}}</span>
              </ng-container>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="rushingTds">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Opponent's RushTDs </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <ng-container *ngIf="checkAvgTotalToggle()">
                <span [ngClass]="returnCellColorGiven(row.rushingTdsGivenTotal, 'rushingTdsGivenTotal')">   {{row.rushingTdsGivenTotal}}</span>
              </ng-container>
              <ng-container *ngIf="!checkAvgTotalToggle()">
                <span [ngClass]="returnCellColorGiven((row.rushingTdsGivenTotal/row.games.length), 'rushingTdsGivenAvg')">     {{row.rushingTdsGivenTotal/row.games.length | number : '1.1-1'}}</span>
              </ng-container>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="sacks">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Opponent's Sacks </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <ng-container *ngIf="checkAvgTotalToggle()">
                <span [ngClass]="returnCellColorGiven(row.sacksGivenTotal, 'sacksGivenTotal')">  {{row.sacksGivenTotal}}</span>
              </ng-container>
              <ng-container *ngIf="!checkAvgTotalToggle()">
                <span [ngClass]="returnCellColorGiven((row.sacksGivenTotal/row.games.length), 'sacksGivenAvg')">   {{row.sacksGivenTotal/row.games.length | number : '1.1-1'}}</span>
              </ng-container>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="interceptions">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Opponent's Interceptions </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <ng-container *ngIf="checkAvgTotalToggle()">
                <span [ngClass]="returnCellColorGiven(row.interceptionsGivenTotal, 'interceptionsGivenTotal')">   {{row.interceptionsGivenTotal}}</span>
              </ng-container>
              <ng-container *ngIf="!checkAvgTotalToggle()">
                <span [ngClass]="returnCellColorGiven((row.interceptionsGivenTotal/row.games.length), 'interceptionsGivenAvg')">   {{row.interceptionsGivenTotal/row.games.length | number : '1.1-1'}}</span>
              </ng-container>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="firstDowns">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Opponent's FirstDowns </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <ng-container *ngIf="checkAvgTotalToggle()">
                <span [ngClass]="returnCellColorGiven(row.firstDownsGivenTotal, 'firstDownsGivenTotal')">   {{row.firstDownsGivenTotal}}</span>
              </ng-container>
              <ng-container *ngIf="!checkAvgTotalToggle()">
                <span [ngClass]="returnCellColorGiven((row.firstDownsGivenTotal/row.games.length), 'firstDownsGivenAvg')">   {{row.firstDownsGivenTotal/row.games.length | number : '1.1-1'}}</span>
              </ng-container>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="thirdDownPct">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Opponent's thirdDown% </mat-header-cell>
            <mat-cell *matCellDef="let row"> <span [ngClass]="returnCellColorGiven(row.thirdDownConvPctGivenAvg, 'thirdDownPctGiven')">{{row.thirdDownConvPctGivenAvg | number : '1.2-2'}} %</span></mat-cell>
          </ng-container>
          <ng-container matColumnDef="redzoneScoringPct">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Opponent's redzoneScoring% </mat-header-cell>
            <mat-cell *matCellDef="let row"> <span [ngClass]="returnCellColorGiven(row.redzoneScoringPctGivenAvg, 'redzoneScoringPctGiven')">{{row.redzoneScoringPctGivenAvg | number : '1.2-2'}} %</span></mat-cell>
          </ng-container>
          <ng-container matColumnDef="points">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Opponent's Points</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <ng-container *ngIf="checkAvgTotalToggle()">
                <span [ngClass]="returnCellColorGiven(row.pointsGivenTotal, 'pointsGivenTotal')">   {{row.pointsGivenTotal}}</span>
              </ng-container>
              <ng-container *ngIf="!checkAvgTotalToggle()">
                <span [ngClass]="returnCellColorGiven((row.pointsGivenTotal/ row.games.length), 'pointsGivenAvg')"> {{row.pointsGivenTotal/row.games.length | number : '1.1-1'}}</span>
              </ng-container>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 32]"></mat-paginator>
      </div>
      </mat-tab>

    </mat-tab-group>
  </mat-tab>
</mat-tab-group>
