<mat-tab-group class="main-tab-group" [selectedIndex]="isActiveTab">


  <mat-tab label="Set Up NFL">
    <section>
      <div class="margin-left-5rem-top-1rem">
        <b class="crimson">To include 2014. Click Button #1.25 and wait for the number of games to stop increasing.</b>
      </div>
      <div class="margin-left-5rem-top-1rem">
        <b class="crimson">If you pressed 1.25, then press 1.5 and wait for 20 seconds.</b>
      </div>
      <div class="margin-left-5rem-top-1rem">
        <b class="crimson">If you just want 2015. Click Button #1.75 and wait for 20 seconds.</b>
      </div>
      <div class="margin-left-5rem-top-1rem">
        <b class="crimson">2. Once you have downloaded all the games, click Button #2.5</b>
      </div>
      <div class="margin-left-5rem-top-1rem">
        <b class="crimson">3. Click "See Magic" button</b>
      </div>
      <button class="margin-left-5rem-top-1rem" mat-button (click)="downloadLastYear(18)">1.25
        Download 2014</button>
      <button class="margin-left-5rem-top-1rem" mat-button (click)="downloadLastYear2()">1.5 Download
        2026</button>
        <button class="margin-left-5rem-top-1rem" mat-button (click)="downloadLastYear3()">1.75 Download
        2026 Only</button>
      <div class="animate-wrapper">
        <h3 class="animate-charcter">Number of Games Downloaded: {{currentDownloadCounter}}
          <span><i>{{currentDownloadCounterPostMsg}}</i></span>
        </h3>
      </div>
      <ng-container *ngIf="currentDownloadCounter < 90 && currentDownloadCounter !== 0">
        <div class="cell" class="margin-left-5rem-top-1rem">
          <div class="wrapper">
            <div class="spinner spinner4"></div>
          </div>
        </div>
      </ng-container>
      <!-- <button class="margin-left-5rem-top-1rem" mat-button (click)="crunchNumbers2014()">2.0
        Crunch(process) Data for 2014</button> -->
      <button class="margin-left-5rem-top-1rem" mat-button (click)="crunchNumbers()">2.5
        Crunch(process) Data</button>
    </section>
    <div>
      <!-- ML -->
      <h1>Moneyline</h1>
      <div>Teams that have a turnover diff of {{localTurnoverDiffVal| number :
        '1.2'}} or more</div>
      <div>{{aggregateStats.turnoverDiffWins}} - {{aggregateStats.turnoverDiffLosses}} |
        {{(aggregateStats.turnoverDiffWins/(aggregateStats.turnoverDiffWins + aggregateStats.turnoverDiffLosses))|
        number :
        '0.2'}}
      </div>
      <div>Teams that have a win/loss %differential of {{localCombineDiffVal| number :
        '0.2'}}% or more AND Teams have a win% of {{localCombineHighVal| number :
        '0.2'}}</div>
      <div>{{aggregateStats.combineDiffHighWins}} - {{aggregateStats.combineDiffHighLosses}} |
        {{(aggregateStats.combineDiffHighWins/(aggregateStats.combineDiffHighWins +
        aggregateStats.combineDiffHighLosses))| number :
        '0.2'}}
      </div>
      <div>Teams that have a win/loss %differential of {{localMlDiffVal| number :
        '0.2'}}% or more</div>
      <div>{{aggregateStats.mlDiffWins}} - {{aggregateStats.mlDiffLosses}} |
        {{(aggregateStats.mlDiffWins/(aggregateStats.mlDiffWins + aggregateStats.mlDiffLosses))| number :
        '0.2'}}
      </div>
      <div>Teams that have a win% of {{localMlHighVal| number :
        '0.2'}}% or more</div>
      <div>{{aggregateStats.mlHighWins}} - {{aggregateStats.mlHighLosses}} |
        {{(aggregateStats.mlHighWins/(aggregateStats.mlHighWins + aggregateStats.mlHighLosses))| number :
        '0.2'}}
      </div>
      <div>Teams whose opponents have a win% of {{localMlOppLowVal| number :
        '0.2'}}% or less</div>
      <div>{{aggregateStats.mlOppLowWins}} - {{aggregateStats.mlOppLowLosses}} |
        {{(aggregateStats.mlOppLowWins/(aggregateStats.mlOppLowWins + aggregateStats.mlOppLowLosses))| number :
        '0.2'}}</div>
      <!-- ATS -->
      <h1>ATS</h1>
      <div>Teams that have a turnover diff of {{localTurnoverDiffAtsVal| number :
        '1.2'}} or more</div>
      <div>{{aggregateStats.turnoverDiffAtsWins}} - {{aggregateStats.turnoverDiffAtsLosses}} |
        {{(aggregateStats.turnoverDiffAtsWins/(aggregateStats.turnoverDiffAtsWins +
        aggregateStats.turnoverDiffAtsLosses))| number :
        '0.2'}}
      </div>
      <div>Teams that have a win/loss %differential of {{localCombineAtsDiffVal| number :
        '0.2'}}% or more AND Teams have a win% of {{localCombineAtsHighVal| number :
        '0.2'}}</div>
      <div>{{aggregateStats.combineAtsDiffHighWins}} - {{aggregateStats.combineAtsDiffHighLosses}} |
        {{(aggregateStats.combineAtsDiffHighWins/(aggregateStats.combineAtsDiffHighWins +
        aggregateStats.combineAtsDiffHighLosses))| number :
        '0.2'}}
      </div>
      <div>Teams that have a win/loss %differential of {{localAtsDiffVal| number :
        '0.2'}}% or more</div>
      <div>{{aggregateStats.atsDiffWins}} - {{aggregateStats.atsDiffLosses}} |
        {{(aggregateStats.atsDiffWins/(aggregateStats.atsDiffWins + aggregateStats.atsDiffLosses))| number :
        '0.2'}}
      </div>
      <div>Teams that have a win% of {{localAtsHighVal| number :
        '0.2'}}% or more</div>
      <div>{{aggregateStats.atsHighWins}} - {{aggregateStats.atsHighLosses}} |
        {{(aggregateStats.atsHighWins/(aggregateStats.atsHighWins + aggregateStats.atsHighLosses))| number :
        '0.2'}}
      </div>
      <div>Teams whose opponents have a win% of {{localAtsOppLowVal| number :
        '0.2'}}% or less</div>
      <div>{{aggregateStats.atsOppLowWins}} - {{aggregateStats.atsOppLowLosses}} |
        {{(aggregateStats.atsOppLowWins/(aggregateStats.atsOppLowWins + aggregateStats.atsOppLowLosses))| number :
        '0.2'}}</div>
      <h1>Favorite</h1>
      <div>Teams that have a win/loss %differential of {{localCombineFavDiffVal| number :
        '0.2'}}% or more AND Teams have a win% of {{localCombineFavHighVal| number :
        '0.2'}}</div>
      <div>{{aggregateStats.combineFavDiffHighWins}} - {{aggregateStats.combineFavDiffHighLosses}} |
        {{(aggregateStats.combineFavDiffHighWins/(aggregateStats.combineFavDiffHighWins +
        aggregateStats.combineFavDiffHighLosses))| number :
        '0.2'}}
      </div>
      <div>Teams that have a win/loss %differential of {{localFavDiffVal| number :
        '0.2'}}% or more</div>
      <div>{{aggregateStats.favDiffWins}} - {{aggregateStats.favDiffLosses}} |
        {{(aggregateStats.favDiffWins/(aggregateStats.favDiffWins + aggregateStats.favDiffLosses))| number :
        '0.2'}}
      </div>
      <div>Teams that have a win% of {{localFavHighVal| number :
        '0.2'}}% or more</div>
      <div>{{aggregateStats.favHighWins}} - {{aggregateStats.favHighLosses}} |
        {{(aggregateStats.favHighWins/(aggregateStats.favHighWins + aggregateStats.favHighLosses))| number :
        '0.2'}}
      </div>
      <div>Teams whose opponents have a win% of {{localFavOppLowVal| number :
        '0.2'}}% or less</div>
      <div>{{aggregateStats.favOppLowWins}} - {{aggregateStats.favOppLowLosses}} |
        {{(aggregateStats.favOppLowWins/(aggregateStats.favOppLowWins + aggregateStats.favOppLowLosses))| number :
        '0.2'}}</div>
      <h1>Underdog</h1>
      <div>Teams that have a win/loss %differential of {{localCombineUnderDiffVal| number :
        '0.2'}}% or more AND Teams have a win% of {{localCombineUnderHighVal| number :
        '0.2'}}</div>
      <div>{{aggregateStats.combineUnderDiffHighWins}} - {{aggregateStats.combineUnderDiffHighLosses}} |
        {{(aggregateStats.combineUnderDiffHighWins/(aggregateStats.combineUnderDiffHighWins +
        aggregateStats.combineUnderDiffHighLosses))| number :
        '0.2'}}
      </div>
      <div>Teams that have a win/loss %differential of {{localUnderDiffVal| number :
        '0.2'}}% or more</div>
      <div>{{aggregateStats.underDiffWins}} - {{aggregateStats.underDiffLosses}} |
        {{(aggregateStats.underDiffWins/(aggregateStats.underDiffWins + aggregateStats.underDiffLosses))| number :
        '0.2'}}
      </div>
      <div>Teams that have a win% of {{localUnderHighVal| number :
        '0.2'}}% or more</div>
      <div>{{aggregateStats.underHighWins}} - {{aggregateStats.underHighLosses}} |
        {{(aggregateStats.underHighWins/(aggregateStats.underHighWins + aggregateStats.underHighLosses))| number :
        '0.2'}}
      </div>
      <div>Teams whose opponents have a win% of {{localUnderOppLowVal| number :
        '0.2'}}% or less</div>
      <div>{{aggregateStats.underOppLowWins}} - {{aggregateStats.underOppLowLosses}} |
        {{(aggregateStats.underOppLowWins/(aggregateStats.underOppLowWins + aggregateStats.underOppLowLosses))| number :
        '0.2'}}</div>
    </div>
  </mat-tab>
  <mat-tab label="Filter Tables">
    <div class="top-wrapper">
      <span>
        <button mat-raised-button (click)="openKeyDialog('1000ms', '750ms')">View Color Key</button>
      </span>
    </div>
    <div>
      Current Date{{lastYearWeekControl.value}}
    </div>
    <form [formGroup]="basicStatsForm">
      <span>
        <mat-form-field appearance="outline" class="search-form-field">
          <mat-label>Search Filter</mat-label>
          <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Ex. Arizona Cardinals...">
          <mat-icon matSuffix>search</mat-icon>
          <mat-hint>Search for team</mat-hint>
        </mat-form-field>
      </span>
    </form>
    <button mat-raised-button (click)="defaultFormControls()">See Magic</button>
    <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortColumn3($event)" matSortDisableClear>
      <ng-container matColumnDef="teamName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Team </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="returnByeBgColor(row)">
          <div>Game Date: {{row.nextGameDate| date: 'MM/dd/yyyy'}}</div>
          <div>Net Spread: {{row.netSpread}}</div>
          <div>Average TurnOver Differential: {{row.turnoverDiffTotal}}</div>
          <div>Opponent Avg TurnOver Diff: {{returnNextOpponent(row).turnoverDiffTotal}}</div>
          <div>Difference in Turnover Diff: {{row.turnoverDiffTotal - returnNextOpponent(row).turnoverDiffTotal | number
            :
            '1.2' }}</div>
          <span [ngClass]="returnCellColor(row.wins, 'score')">{{row.teamName}}</span>
          <div [ngClass]="returnCellColor(row.wins, 'score')">Score: {{row.wins}}-{{row.losses}}
          </div>
          <div>Spread: {{returnGameSpread(row)}}</div>
          <div [ngClass]="{'bold-font': row.isNextGameFavorite, 'italic-font': !row.isNextGameFavorite}">
            {{returnIfFavorite(row.isNextGameFavorite)}}</div>
          <div *ngIf="localTableFlag">
            <div>Points For: {{row.currentWeekPoints}}</div>
            <div>Points Against: {{row.currentWeekPointsAgainst}}</div>
            <div [ngClass]="returnWinLossColor(row.currentWeekWinLoss)">Win or Loss:
              {{row.currentWeekWinLoss}}</div>
            <div [ngClass]="returnWinLossColor(row.currentWeekAts)">Against Spread:
              {{row.currentWeekAts}}</div>
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="sumValues">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <div>Overall Records</div>
          <div> | {{returnSortStatusStr(currentSortState)}}</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="returnByeBgColor(row)">
          <div [ngClass]="processSumColor(calculateAverageWins(row), calculateAverageLosses(row))">
            Score: {{calculateAverageWins(row)}}-{{calculateAverageLosses(row)}} | %
            {{(calculateAverageWins(row)/(calculateAverageWins(row) +
            calculateAverageLosses(row)))| percent: '0.2'}}
          </div>
          <div [ngClass]="processSumColor(calculateAverageAtsWins(row), calculateAverageAtsLosses(row))">
            ATS: {{calculateAverageAtsWins(row)}}-{{calculateAverageAtsLosses(row)}} | %
            {{(calculateAverageAtsWins(row)/(calculateAverageAtsWins(row) +
            calculateAverageAtsLosses(row)))| percent:
            '0.2'}}</div>
          <hr>
          <div>Opponent</div>
          <hr>
          <div [ngClass]="processSumColor(calculateOppAverageWins(row), calculateOppAverageLosses(row))">
            Score: {{calculateOppAverageWins(row)}}-{{calculateOppAverageLosses(row)}} | %
            {{(calculateOppAverageWins(row)/(calculateOppAverageWins(row) +
            calculateOppAverageLosses(row)))| percent:
            '0.2'}}
          </div>
          <div [ngClass]="processSumColor(calculateOppAverageAtsWins(row), calculateOppAverageAtsLosses(row))">
            ATS: {{calculateOppAverageAtsWins(row)}}-{{calculateOppAverageAtsLosses(row)}} | %
            {{(calculateOppAverageAtsWins(row)/(calculateOppAverageAtsWins(row) +
            calculateOppAverageAtsLosses(row)))|
            percent:
            '0.2'}}
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="passAttempts">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <div>Pass Attempts</div>
          <div class="header-row2">
            <span class="crimson">0</span>
            <span class="">&rlarr;</span>
            <span class="orange">{{passAttemptsQuartile[0]| number : '1.1-1'}}</span>
            <span class="">&rlarr;</span>
            <span class="blueviolet">{{passAttemptsQuartile[1]| number : '1.1-1'}}</span>
            <span class="">&rlarr;</span>
            <span class="green">{{passAttemptsQuartile[2]| number : '1.1-1'}}</span><span class="green">&plus;</span>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="returnByeBgColor(row)">
          <div>
            <div
              [ngClass]="processMatCellColor(row.filterStats.passAttempts.wins, row.filterStats.passAttempts.losses)">
              Score:
              {{row.filterStats.passAttempts.wins}}-{{row.filterStats.passAttempts.losses}}
            </div>
            <div
              [ngClass]="processMatCellColor(row.filterAtsStats.passAttempts.wins, row.filterAtsStats.passAttempts.losses)">
              ATS:
              {{row.filterAtsStats.passAttempts.wins}}-{{row.filterAtsStats.passAttempts.losses}}
            </div>
            <div *ngIf="row.isNextGameFavorite"
              [ngClass]="processMatCellColor(row.filterAtsFavoritesStats.passAttempts.wins, row.filterAtsFavoritesStats.passAttempts.losses)">
              FavATS:
              {{row.filterAtsFavoritesStats.passAttempts.wins}}-{{row.filterAtsFavoritesStats.passAttempts.losses}}
            </div>
            <div *ngIf="!row.isNextGameFavorite"
              [ngClass]="processMatCellColor(row.filterAtsUnderdogStats.passAttempts.wins, row.filterAtsUnderdogStats.passAttempts.losses)">
              UnderATS:
              {{row.filterAtsUnderdogStats.passAttempts.wins}}-{{row.filterAtsUnderdogStats.passAttempts.losses}}
            </div>
            <hr>
            <div [ngClass]="checkPassAttempts(row.nextOpponent)">{{row.nextOpponent}}:
              {{returnOpponentAvgPassAttempts(row.nextOpponent)| number
              : '1.1-1'}}</div>
            <div
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterStats.passAttempts.wins, returnNextOpponent(row).filterStats.passAttempts.losses)">
              Score:
              {{returnNextOpponent(row).filterStats.passAttempts.wins}}-{{returnNextOpponent(row).filterStats.passAttempts.losses}}
            </div>
            <div
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterAtsStats.passAttempts.wins, returnNextOpponent(row).filterAtsStats.passAttempts.losses)">
              ATS:
              {{returnNextOpponent(row).filterAtsStats.passAttempts.wins}}-{{returnNextOpponent(row).filterAtsStats.passAttempts.losses}}
            </div>
            <div *ngIf="returnNextOpponent(row).isNextGameFavorite"
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterAtsFavoritesStats.passAttempts.wins, returnNextOpponent(row).filterAtsFavoritesStats.passAttempts.losses)">
              FavATS:
              {{returnNextOpponent(row).filterAtsFavoritesStats.passAttempts.wins}}-{{returnNextOpponent(row).filterAtsFavoritesStats.passAttempts.losses}}
            </div>
            <div *ngIf="!returnNextOpponent(row).isNextGameFavorite"
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterAtsUnderdogStats.passAttempts.wins, returnNextOpponent(row).filterAtsUnderdogStats.passAttempts.losses)">
              UnderATS:
              {{returnNextOpponent(row).filterAtsUnderdogStats.passAttempts.wins}}-{{returnNextOpponent(row).filterAtsUnderdogStats.passAttempts.losses}}
            </div>
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="passYards">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <div>Pass Yards</div>
          <div class="header-row2">
            <span class="crimson">0</span>
            <span class="">&rlarr;</span>
            <span class="orange">{{passYardsQuartile[0]| number : '1.1-1'}}</span>
            <span class="">&rlarr;</span>
            <span class="blueviolet">{{passYardsQuartile[1]| number : '1.1-1'}}</span>
            <span class="">&rlarr;</span>
            <span class="green">{{passYardsQuartile[2]| number : '1.1-1'}}</span><span class="green">&plus;</span>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="returnByeBgColor(row)">
          <div>
            <div [ngClass]="processMatCellColor(row.filterStats.passYards.wins, row.filterStats.passYards.losses)">
              Score: {{row.filterStats.passYards.wins}}-{{row.filterStats.passYards.losses}}
            </div>
            <div
              [ngClass]="processMatCellColor(row.filterAtsStats.passYards.wins, row.filterAtsStats.passYards.losses)">
              ATS: {{row.filterAtsStats.passYards.wins}}-{{row.filterAtsStats.passYards.losses}}
            </div>

            <div *ngIf="row.isNextGameFavorite"
              [ngClass]="processMatCellColor(row.filterAtsFavoritesStats.passYards.wins, row.filterAtsFavoritesStats.passYards.losses)">
              FavATS:
              {{row.filterAtsFavoritesStats.passYards.wins}}-{{row.filterAtsFavoritesStats.passYards.losses}}
            </div>
            <div *ngIf="!row.isNextGameFavorite"
              [ngClass]="processMatCellColor(row.filterAtsUnderdogStats.passYards.wins, row.filterAtsUnderdogStats.passYards.losses)">
              UnderATS:
              {{row.filterAtsUnderdogStats.passYards.wins}}-{{row.filterAtsUnderdogStats.passYards.losses}}
            </div>
            <hr>
            <div [ngClass]="checkPassYards(row.nextOpponent)">{{row.nextOpponent}}:
              {{returnOpponentAvgPassYards(row.nextOpponent)| number
              : '1.1-1'}}</div>
            <div
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterStats.passYards.wins, returnNextOpponent(row).filterStats.passYards.losses)">
              Score:
              {{returnNextOpponent(row).filterStats.passYards.wins}}-{{returnNextOpponent(row).filterStats.passYards.losses}}
            </div>
            <div
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterAtsStats.passYards.wins, returnNextOpponent(row).filterAtsStats.passYards.losses)">
              ATS:
              {{returnNextOpponent(row).filterAtsStats.passYards.wins}}-{{returnNextOpponent(row).filterAtsStats.passYards.losses}}
            </div>
            <div *ngIf="returnNextOpponent(row).isNextGameFavorite"
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterAtsFavoritesStats.passYards.wins, returnNextOpponent(row).filterAtsFavoritesStats.passYards.losses)">
              FavATS:
              {{returnNextOpponent(row).filterAtsFavoritesStats.passYards.wins}}-{{returnNextOpponent(row).filterAtsFavoritesStats.passYards.losses}}
            </div>
            <div *ngIf="!returnNextOpponent(row).isNextGameFavorite"
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterAtsUnderdogStats.passYards.wins, returnNextOpponent(row).filterAtsUnderdogStats.passYards.losses)">
              UnderATS:
              {{returnNextOpponent(row).filterAtsUnderdogStats.passYards.wins}}-{{returnNextOpponent(row).filterAtsUnderdogStats.passYards.losses}}
            </div>
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="passTds">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <div>Pass Tds</div>
          <div class="header-row2">
            <span class="crimson">0</span>
            <span class="">&rlarr;</span>
            <span class="orange">{{passTdsQuartile[0]| number : '1.1-1'}}</span>
            <span class="">&rlarr;</span>
            <span class="blueviolet">{{passTdsQuartile[1]| number : '1.1-1'}}</span>
            <span class="">&rlarr;</span>
            <span class="green">{{passTdsQuartile[2]| number : '1.1-1'}}</span><span class="green">&plus;</span>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="returnByeBgColor(row)">
          <div>
            <div [ngClass]="processMatCellColor(row.filterStats.passTds.wins, row.filterStats.passTds.losses)">
              Score: {{row.filterStats.passTds.wins}}-{{row.filterStats.passTds.losses}}</div>

            <div [ngClass]="processMatCellColor(row.filterAtsStats.passTds.wins, row.filterAtsStats.passTds.losses)">
              ATS: {{row.filterAtsStats.passTds.wins}}-{{row.filterAtsStats.passTds.losses}}
            </div>

            <div *ngIf="row.isNextGameFavorite"
              [ngClass]="processMatCellColor(row.filterAtsFavoritesStats.passTds.wins, row.filterAtsFavoritesStats.passTds.losses)">
              FavATS:
              {{row.filterAtsFavoritesStats.passTds.wins}}-{{row.filterAtsFavoritesStats.passTds.losses}}
            </div>
            <div *ngIf="!row.isNextGameFavorite"
              [ngClass]="processMatCellColor(row.filterAtsUnderdogStats.passTds.wins, row.filterStats.passTds.losses)">
              UnderATS:
              {{row.filterAtsUnderdogStats.passTds.wins}}-{{row.filterAtsUnderdogStats.passTds.losses}}
            </div>
            <hr>
            <div [ngClass]="checkPassTds(row.nextOpponent)">{{row.nextOpponent}}:
              {{returnOpponentAvgPassTds(row.nextOpponent)| number :
              '1.1-1'}}</div>
          </div>
          <div
            [ngClass]="processMatCellColor(returnNextOpponent(row).filterStats.passTds.wins, returnNextOpponent(row).filterStats.passTds.losses)">
            Score:
            {{returnNextOpponent(row).filterStats.passTds.wins}}-{{returnNextOpponent(row).filterStats.passTds.losses}}
          </div>
          <div
            [ngClass]="processMatCellColor(returnNextOpponent(row).filterAtsStats.passTds.wins, returnNextOpponent(row).filterAtsStats.passTds.losses)">
            ATS:
            {{returnNextOpponent(row).filterAtsStats.passTds.wins}}-{{returnNextOpponent(row).filterAtsStats.passTds.losses}}
          </div>
          <div *ngIf="returnNextOpponent(row).isNextGameFavorite"
            [ngClass]="processMatCellColor(returnNextOpponent(row).filterAtsFavoritesStats.passTds.wins, returnNextOpponent(row).filterAtsFavoritesStats.passTds.losses)">
            FavATS:
            {{returnNextOpponent(row).filterAtsFavoritesStats.passTds.wins}}-{{returnNextOpponent(row).filterAtsFavoritesStats.passTds.losses}}
          </div>
          <div *ngIf="!returnNextOpponent(row).isNextGameFavorite"
            [ngClass]="processMatCellColor(returnNextOpponent(row).filterAtsUnderdogStats.passTds.wins, returnNextOpponent(row).filterStats.passTds.losses)">
            UnderATS:
            {{returnNextOpponent(row).filterAtsUnderdogStats.passTds.wins}}-{{returnNextOpponent(row).filterAtsUnderdogStats.passTds.losses}}
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="rushAttempts">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <div>Rush Attempts</div>
          <div class="header-row2">
            <span class="crimson">0</span>
            <span class="">&rlarr;</span>
            <span class="orange">{{rushAttemptsQuartile[0]| number : '1.1-1'}}</span>
            <span class="">&rlarr;</span>
            <span class="blueviolet">{{rushAttemptsQuartile[1]| number : '1.1-1'}}</span>
            <span class="">&rlarr;</span>
            <span class="green">{{rushAttemptsQuartile[2]| number : '1.1-1'}}</span><span class="green">&plus;</span>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="returnByeBgColor(row)">
          <div>
            <div
              [ngClass]="processMatCellColor(row.filterStats.rushAttempts.wins, row.filterStats.rushAttempts.losses)">
              Score:
              {{row.filterStats.rushAttempts.wins}}-{{row.filterStats.rushAttempts.losses}}
            </div>
            <div
              [ngClass]="processMatCellColor(row.filterAtsStats.rushAttempts.wins, row.filterAtsStats.rushAttempts.losses)">
              ATS:
              {{row.filterAtsStats.rushAttempts.wins}}-{{row.filterAtsStats.rushAttempts.losses}}
            </div>

            <div *ngIf="row.isNextGameFavorite"
              [ngClass]="processMatCellColor(row.filterAtsFavoritesStats.rushAttempts.wins, row.filterAtsFavoritesStats.rushAttempts.losses)">
              FavATS:
              {{row.filterAtsFavoritesStats.rushAttempts.wins}}-{{row.filterAtsFavoritesStats.rushAttempts.losses}}
            </div>
            <div *ngIf="!row.isNextGameFavorite"
              [ngClass]="processMatCellColor(row.filterAtsUnderdogStats.rushAttempts.wins, row.filterAtsUnderdogStats.rushAttempts.losses)">
              UnderATS:
              {{row.filterAtsUnderdogStats.rushAttempts.wins}}-{{row.filterAtsUnderdogStats.rushAttempts.losses}}
            </div>
            <hr>
            <div [ngClass]="checkRushAttempts(row.nextOpponent)">{{row.nextOpponent}}:
              {{returnOpponentAvgRushAttempts(row.nextOpponent)|
              number : '1.1-1'}}</div>
            <div
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterStats.rushAttempts.wins, returnNextOpponent(row).filterStats.rushAttempts.losses)">
              Score:
              {{returnNextOpponent(row).filterStats.rushAttempts.wins}}-{{returnNextOpponent(row).filterStats.rushAttempts.losses}}
            </div>
            <div
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterAtsStats.rushAttempts.wins, returnNextOpponent(row).filterAtsStats.rushAttempts.losses)">
              ATS:
              {{returnNextOpponent(row).filterAtsStats.rushAttempts.wins}}-{{returnNextOpponent(row).filterAtsStats.rushAttempts.losses}}
            </div>

            <div *ngIf="returnNextOpponent(row).isNextGameFavorite"
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterAtsFavoritesStats.rushAttempts.wins, returnNextOpponent(row).filterAtsFavoritesStats.rushAttempts.losses)">
              FavATS:
              {{returnNextOpponent(row).filterAtsFavoritesStats.rushAttempts.wins}}-{{returnNextOpponent(row).filterAtsFavoritesStats.rushAttempts.losses}}
            </div>
            <div *ngIf="!returnNextOpponent(row).isNextGameFavorite"
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterAtsUnderdogStats.rushAttempts.wins, returnNextOpponent(row).filterAtsUnderdogStats.rushAttempts.losses)">
              UnderATS:
              {{returnNextOpponent(row).filterAtsUnderdogStats.rushAttempts.wins}}-{{returnNextOpponent(row).filterAtsUnderdogStats.rushAttempts.losses}}
            </div>
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="rushYards">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <div>Rush Yards</div>
          <div class="header-row2">
            <span class="crimson">0</span>
            <span class="">&rlarr;</span>
            <span class="orange">{{rushYardsQuartile[0]| number : '1.1-1'}}</span>
            <span class="">&rlarr;</span>
            <span class="blueviolet">{{rushYardsQuartile[1]| number : '1.1-1'}}</span>
            <span class="">&rlarr;</span>
            <span class="green">{{rushYardsQuartile[2]| number : '1.1-1'}}</span><span class="green">&plus;</span>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="returnByeBgColor(row)">
          <div>
            <div [ngClass]="processMatCellColor(row.filterStats.rushYards.wins, row.filterStats.rushYards.losses)">
              Score: {{row.filterStats.rushYards.wins}}-{{row.filterStats.rushYards.losses}}
            </div>
            <div
              [ngClass]="processMatCellColor(row.filterAtsStats.rushYards.wins, row.filterAtsStats.rushYards.losses)">
              ATS: {{row.filterAtsStats.rushYards.wins}}-{{row.filterAtsStats.rushYards.losses}}
            </div>
            <div *ngIf="row.isNextGameFavorite"
              [ngClass]="processMatCellColor(row.filterAtsFavoritesStats.rushYards.wins, row.filterAtsFavoritesStats.rushYards.losses)">
              FavATS:
              {{row.filterAtsFavoritesStats.rushYards.wins}}-{{row.filterAtsFavoritesStats.rushYards.losses}}
            </div>
            <div *ngIf="!row.isNextGameFavorite"
              [ngClass]="processMatCellColor(row.filterAtsUnderdogStats.rushYards.wins, row.filterAtsUnderdogStats.rushYards.losses)">
              UnderATS:
              {{row.filterAtsUnderdogStats.rushYards.wins}}-{{row.filterAtsUnderdogStats.rushYards.losses}}
            </div>
            <hr>
            <div [ngClass]="checkRushYards(row.nextOpponent)">{{row.nextOpponent}}:
              {{returnOpponentAvgRushYards(row.nextOpponent)| number
              : '1.1-1'}}</div>
            <div
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterStats.rushYards.wins, returnNextOpponent(row).filterStats.rushYards.losses)">
              Score:
              {{returnNextOpponent(row).filterStats.rushYards.wins}}-{{returnNextOpponent(row).filterStats.rushYards.losses}}
            </div>
            <div
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterAtsStats.rushYards.wins, returnNextOpponent(row).filterAtsStats.rushYards.losses)">
              ATS:
              {{returnNextOpponent(row).filterAtsStats.rushYards.wins}}-{{returnNextOpponent(row).filterAtsStats.rushYards.losses}}
            </div>
            <div *ngIf="returnNextOpponent(row).isNextGameFavorite"
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterAtsFavoritesStats.rushYards.wins, returnNextOpponent(row).filterAtsFavoritesStats.rushYards.losses)">
              FavATS:
              {{returnNextOpponent(row).filterAtsFavoritesStats.rushYards.wins}}-{{returnNextOpponent(row).filterAtsFavoritesStats.rushYards.losses}}
            </div>
            <div *ngIf="!returnNextOpponent(row).isNextGameFavorite"
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterAtsUnderdogStats.rushYards.wins, returnNextOpponent(row).filterAtsUnderdogStats.rushYards.losses)">
              UnderATS:
              {{returnNextOpponent(row).filterAtsUnderdogStats.rushYards.wins}}-{{returnNextOpponent(row).filterAtsUnderdogStats.rushYards.losses}}
            </div>
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="rushTds">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <div>Rush Tds</div>
          <div class="header-row2">
            <span class="crimson">0</span>
            <span class="">&rlarr;</span>
            <span class="orange">{{rushTdsQuartile[0]| number : '1.1-1'}}</span>
            <span class="">&rlarr;</span>
            <span class="blueviolet">{{rushTdsQuartile[1]| number : '1.1-1'}}</span>
            <span class="">&rlarr;</span>
            <span class="green">{{rushTdsQuartile[2]| number : '1.1-1'}}</span><span class="green">&plus;</span>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="returnByeBgColor(row)">
          <div>
            <div [ngClass]="processMatCellColor(row.filterStats.rushTds.wins, row.filterStats.rushTds.losses)">
              Score: {{row.filterStats.rushTds.wins}}-{{row.filterStats.rushTds.losses}}</div>
            <div [ngClass]="processMatCellColor(row.filterAtsStats.rushTds.wins, row.filterAtsStats.rushTds.losses)">
              ATS: {{row.filterAtsStats.rushTds.wins}}-{{row.filterAtsStats.rushTds.losses}}
            </div>
            <div *ngIf="row.isNextGameFavorite"
              [ngClass]="processMatCellColor(row.filterAtsFavoritesStats.rushTds.wins, row.filterAtsFavoritesStats.rushTds.losses)">
              FavATS:
              {{row.filterAtsFavoritesStats.rushTds.wins}}-{{row.filterAtsFavoritesStats.rushTds.losses}}
            </div>
            <div *ngIf="!row.isNextGameFavorite"
              [ngClass]="processMatCellColor(row.filterAtsUnderdogStats.rushTds.wins, row.filterAtsUnderdogStats.rushTds.losses)">
              UnderATS:
              {{row.filterAtsUnderdogStats.rushTds.wins}}-{{row.filterAtsUnderdogStats.rushTds.losses}}
            </div>
            <hr>
            <div [ngClass]="checkRushTds(row.nextOpponent)">{{row.nextOpponent}}:
              {{returnOpponentAvgRushTds(row.nextOpponent)| number :
              '1.1-1'}}</div>
            <div
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterStats.rushTds.wins, returnNextOpponent(row).filterStats.rushTds.losses)">
              Score:
              {{returnNextOpponent(row).filterStats.rushTds.wins}}-{{returnNextOpponent(row).filterStats.rushTds.losses}}
            </div>
            <div
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterAtsStats.rushTds.wins, returnNextOpponent(row).filterAtsStats.rushTds.losses)">
              ATS:
              {{returnNextOpponent(row).filterAtsStats.rushTds.wins}}-{{returnNextOpponent(row).filterAtsStats.rushTds.losses}}
            </div>
            <div *ngIf="returnNextOpponent(row).isNextGameFavorite"
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterAtsFavoritesStats.rushTds.wins, returnNextOpponent(row).filterAtsFavoritesStats.rushTds.losses)">
              FavATS:
              {{returnNextOpponent(row).filterAtsFavoritesStats.rushTds.wins}}-{{returnNextOpponent(row).filterAtsFavoritesStats.rushTds.losses}}
            </div>
            <div *ngIf="!returnNextOpponent(row).isNextGameFavorite"
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterAtsUnderdogStats.rushTds.wins, returnNextOpponent(row).filterAtsUnderdogStats.rushTds.losses)">
              UnderATS:
              {{returnNextOpponent(row).filterAtsUnderdogStats.rushTds.wins}}-{{returnNextOpponent(row).filterAtsUnderdogStats.rushTds.losses}}
            </div>
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="points">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <div>Points</div>
          <div class="header-row2">
            <span class="crimson">0</span>
            <span class="crimson">&rlarr;</span>
            <span class="orange">{{pointsQuartile[0]| number : '1.1-1'}}</span>
            <span class="orange">&rlarr;</span>
            <span class="blueviolet">{{pointsQuartile[1]| number : '1.1-1'}}</span>
            <span class="blueviolet">&rlarr;</span>
            <span class="green">{{pointsQuartile[2]| number : '1.1-1'}}</span><span class="green">&plus;</span>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="returnByeBgColor(row)">
          <div>
            <div [ngClass]="processMatCellColor(row.filterStats.points.wins, row.filterStats.points.losses)">
              Score: {{row.filterStats.points.wins}}-{{row.filterStats.points.losses}}</div>
            <div [ngClass]="processMatCellColor(row.filterAtsStats.points.wins, row.filterAtsStats.points.losses)">
              ATS: {{row.filterAtsStats.points.wins}}-{{row.filterAtsStats.points.losses}}</div>
            <div *ngIf="row.isNextGameFavorite"
              [ngClass]="processMatCellColor(row.filterAtsFavoritesStats.points.wins, row.filterAtsFavoritesStats.points.losses)">
              FavATS:
              {{row.filterAtsFavoritesStats.points.wins}}-{{row.filterAtsFavoritesStats.points.losses}}
            </div>
            <div *ngIf="!row.isNextGameFavorite"
              [ngClass]="processMatCellColor(row.filterAtsUnderdogStats.points.wins, row.filterAtsUnderdogStats.points.losses)">
              UnderATS:
              {{row.filterAtsUnderdogStats.points.wins}}-{{row.filterAtsUnderdogStats.points.losses}}
            </div>
            <hr>
            <div [ngClass]="checkPoints(row.nextOpponent)">{{row.nextOpponent}}:
              {{returnOpponentAvgPoints(row.nextOpponent)| number :
              '1.1-1'}}</div>
            <div
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterStats.points.wins, returnNextOpponent(row).filterStats.points.losses)">
              Score:
              {{returnNextOpponent(row).filterStats.points.wins}}-{{returnNextOpponent(row).filterStats.points.losses}}
            </div>
            <div
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterAtsStats.points.wins, returnNextOpponent(row).filterAtsStats.points.losses)">
              ATS:
              {{returnNextOpponent(row).filterAtsStats.points.wins}}-{{returnNextOpponent(row).filterAtsStats.points.losses}}
            </div>
            <div *ngIf="returnNextOpponent(row).isNextGameFavorite"
              [ngClass]="processMatCellColor(row.filterAtsFavoritesStats.points.wins, returnNextOpponent(row).filterAtsFavoritesStats.points.losses)">
              FavATS:
              {{returnNextOpponent(row).filterAtsFavoritesStats.points.wins}}-{{returnNextOpponent(row).filterAtsFavoritesStats.points.losses}}
            </div>
            <div *ngIf="!returnNextOpponent(row).isNextGameFavorite"
              [ngClass]="processMatCellColor(returnNextOpponent(row).filterAtsUnderdogStats.points.wins, returnNextOpponent(row).filterAtsUnderdogStats.points.losses)">
              UnderATS:
              {{returnNextOpponent(row).filterAtsUnderdogStats.points.wins}}-{{returnNextOpponent(row).filterAtsUnderdogStats.points.losses}}
            </div>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns2;"
        [ngClass]="{'green-bg': row.teamName === selectedTeam }">
      </mat-row>
    </mat-table>
  </mat-tab>
