/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


mat-cell {
  display: block !important;
}

.mat-mdc-cell {
  font-size: 12px;
}

.header-row2 {
  font-size: 12px;
}

.mat-mdc-header-cell {
  font-size: 12px;
}

.crimson {
  color: crimson;
}

.orange {
  color: orangered;
}

.blueviolet {
  color: blueviolet;
}

.green {
  color: green;
}

.mat-mdc-dialog-surface {
  overflow-y: hidden !important;
}

.mat-mdc-form-field-subscript-wrapper {
  height: 0px;
}

// Mat-select background color
  .select-panel-crimson.mat-mdc-select-panel {
    background: rgba(220, 20, 60, 0.85);
  }

  .select-panel-orange.mat-mdc-select-panel {
    background: rgba(255, 69, 0, 0.85);
  }

  .select-panel-blueviolet.mat-mdc-select-panel {
    background: rgba(106, 99, 113, 0.85);
  }

  .select-panel-green.mat-mdc-select-panel {
    background: rgba(0, 128, 0, 0.85);
  }

  .select-panel-grey.mat-mdc-select-panel {
    background: rgba(128, 128, 128, 0.85);
  }
